#title{
    color:white;
}
#title > h5 {
    font-size: 35px;
}

#role > i{
    padding-right: 5px;
}

#role{
    font-size: 20px;
}

.team-heading{
    background-color: #0d6efd;
    color:white;
}

.team-area{
    justify-content: space-between;
}